#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  moodle-mariadb.service
BindsTo=moodle.service
After=moodle.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/moodle-mariadb.pid %t/moodle-mariadb.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/moodle-mariadb.pid \
    --cidfile %t/moodle-mariadb.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/moodle.pod-id --replace -d --name  moodle-mariadb \
    --env MARIADB_ROOT_PASSWORD=Nethesis,1234 \
    --env MARIADB_USER=bn_moodle \
    --env MARIADB_PASSWORD=bitnami \
    --env MARIADB_DATABASE=bitnami_moodle \
    --env MARIADB_CHARACTER_SET=utf8mb4 \
    --env MARIADB_COLLATE=utf8mb4_unicode_ci \
    --volume mariadb-data:/bitnami/mariadb:z \
    ${MARIADB_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/moodle-mariadb.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP moodle-mariadb
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/moodle-mariadb.ctr-id
PIDFile=%t/moodle-mariadb.pid
Type=forking

[Install]
WantedBy=default.target