#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  moodle-app.service
BindsTo=moodle.service
After=moodle.service moodle-mariadb.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/moodle-app.pid %t/moodle-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/moodle-app.pid \
    --cidfile %t/moodle-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/moodle.pod-id --replace -d --name  moodle-app \
    --env MOODLE_DATABASE_HOST=moodle-mariadb \
    --env MOODLE_DATABASE_PORT_NUMBER=3306 \
    --env MOODLE_DATABASE_USER=bn_moodle \
    --env MOODLE_DATABASE_PASSWORD=bitnami \
    --env MOODLE_DATABASE_NAME=bitnami_moodle \
    --env MOODLE_USERNAME=${MOODLE_USERNAME} \
    --env MOODLE_PASSWORD=${MOODLE_PASSWORD} \
    --env MOODLE_SITE_NAME=${MOODLE_SITE_NAME} \
    --volume moodle-data:/bitnami/moodle:Z \
    --volume moodledata-data:/bitnami/moodledata:Z \
    ${MOODLE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/moodle-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP moodle-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/moodle-app.ctr-id
PIDFile=%t/moodle-app.pid
Type=forking

[Install]
WantedBy=default.target